
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";
$background-ios-color: #FFDAEA;
$background-md-color: #FFDAEA;
$background-wp-color: #FFDAEA;


$colors: (
  primary:    #ee933e,
  secondary:  #ff076e,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       rgb(78, 72, 72),
  navbarColor: #56D1FF,
  listColor: #FFDAEA
);


$text-color: #ff076e;

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
